body {
    background-color: #000000;
    color: white;
    background-image: url("assets/imagem_6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
    
}

img{
    height: 300px;
    
    box-shadow: 0 0 15px 10px #000000;
}

h1{
    border: 20px solid transparent;
    font-size: 30px;
    box-shadow: 10px 5px rgba(219, 219, 218, 0.377);
   width: 1720;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 40p;
    background-color: rgba(0, 0, 0, 0.568);
    color: #ffffffa2
    

    
}

footer p{

    color: rgb(197, 195, 195);
}

header{

    display: flex;
    align-items: center;
    justify-content: center;

}

div{

    display: flex;
    align-items: center;
    justify-content: center;
    
}

h2{
border: 15px solid transparent;
font-size: 20px;
box-shadow: 10px 5px rgba(219, 219, 218, 0.377);
   width: 1720;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 40p;
    background-color: rgba(0, 0, 0, 0.568);
    color: #ffffffa2
}

