body {
    background-color: #000000;
    color: white;
    background-image: url("assets/imagem_6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    height: 300px;
    border: 5px solid white;
    border-radius: 15px;
}

h1{
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20p;
    background-color: rgba(255, 0, 0, 0.24);
    color: #ffd9009a
    
}

footer p{

    color: rgb(197, 195, 195);
}

header{

    display: flex;
    align-items: center;
    justify-content: center;

}

div{

    display: flex;
    align-items: center;
    justify-content: center;
    
}